<div class="jumbotron center_div">

    <h1 class="display-4"> Update Customer</h1>
    <hr class="my-4">
  
  <h4>In order to update a customer please fill the missing data and then press update </h4>
  <br>
  <br>
  <div>
    <input  class="inputs" #couponid type="number" placeholder="Coupon id" maxlength="20" min="0">
    <br><br>
    
    <input class="inputs" #endDate type="text" placeholder="New End Date">
    <br><br>
    
    <input class="inputs" #price type="text" placeholder="New Price">
    <br><br>
    
    <button (click)="updateCoupon(couponid.value, endDate.value, price.value)">Update!</button>
    
    <a class="backTo" routerLink='/company'> Back to Company menu</a>




