<html ng-app="customerApp">
    <head>
    <title>customer</title>
    </head
    >
    <div class="jumbotron center_div" >
        <h1 class="display-4">History Purchased </h1>
        <p class="lead">On this page you can see history purchased.</p>
        <hr class="my-4">
        <a class="backTo" routerLink='/customer'> Back to Customer menu</a>
    
    </div>

    
    <body>
        <div class="jumbotron center_div" >
              <button class="btn btn-success btn-lg" routerLink="/allPurchase">All purchase</button>
        </div>	
            <div class="jumbotron center_div" > 
                      <button class="btn btn-success btn-lg" routerLink="/couponPrice">purchase py price</button>
    
                </div>	

                <div class="jumbotron center_div" > 
                    <button class="btn btn-success btn-lg" routerLink="/couponType">purchase py type</button>
  
                    <br><br>

                    <br><br>
                    
              </div>		
    
    
                
    
    
            
            <br>
                    
        <br><br>
    

        