<div class="jumbotron center_div">
  <button class="btn btn-primary" (click)="myService.moveToHomePage()">Admin Page</button><br>
  <h2 style="text-align:center">Log active</h2>
  <h5 style="text-align:center">On this page you can see all the actions taken in your website</h5>
  
  <hr>
  
  <div style="border: 1px, solid, black">
    <h6>Show the logs that occurred between the dates:</h6>
    <span>Start Date:</span> 
    <input type="date" data-date="" data-date-format="YYYY/MM/DD" [(ngModel)]="startDate"><br>
    <span>End Date:</span>
    <input type="date" data-date="" data-date-format="YYYY/MM/DD" [(ngModel)]="endDate"><br>
    <button class="btn btn-success" (click)="getLogsBetweenDates()" > Search </button><br>
    {{dateMessage}}<br>
    
  </div>
 

  <table *ngIf="myService.listLogs" class="table table-striped table-dark ">
    <tr>
      <th>Date</th>
      <th>Hour</th>        
      <th>Ip</th>   
      <th>Browser</th>   
      <th>Message</th>   
      <th>Success</th>
      <th>Remove</th>
    </tr>

    <tr *ngFor="let l of myService.listLogs">
      <td>{{displayDate(l.date)}}</td>
      <td>{{displayHour(l.date)}}</td>
      <td>{{l.ip}}</td>
      <td>{{l.browser}}</td>
      <td>{{l.message}}</td>
      <td>{{l.success}}</td>
      <td>
        <button class="btn btn-danger" (click)="removeLog(l.id)">Remove this log</button>
      </td>
    </tr>
  </table>

</div>

