
<html ng-app="companyApp">
<head>
<title>company</title>
</head
>
<div class="jumbotron center_div" >
    <h1 class="display-4">welcome company </h1>
    <p class="lead">On this page you can see all your coupons, edit or mange them, and add new coupons.</p>
	<p class="lead">we hope you will enjoy</p>
	<hr class="my-4">
	
	</div>

<body>

		<br><br>

	<div class="jumbotron center_div" >
		<p class="lead">To create a new coupon click here:</p>    
  	    <button class="btn btn-success btn-lg"routerLink="/updateCustomer">create new coupon</button>
		<hr class="my-4">
	</div>	

	<br><br>
         

	<div  class="jumbotron center_div" >
			<p class="lead">To see all your coupons click here:</p>    
			  <button class="btn btn-success btn-lg" routerLink="/updateCustomer">see all coupons</button>
			  <hr class="my-4">
	</div>	

	<br><br>

		<div  class="jumbotron center_div" >
				<p class="lead">To see coupons by date click here:</p>   
				  <button class="btn btn-success btn-lg" routerLink="/updateCustomer">Coupons by date</button>
				<hr class="my-4">
			</div>	

			<br><br>

			<div class="jumbotron center_div" >
					<p class="lead">To see coupons by price click here:</p>    
					  <button class="btn btn-success btn-lg"routerLink="/updateCustomer">Coupons by price</button>
					<hr class="my-4">
				</div>	
	
				
	<br><br>

			<div class="jumbotron center_div" >
				<p class="lead">To see coupons by type click here:</p>    
				  <button class="btn btn-success btn-lg" routerLink="/updateCustomer">Coupons by type</button>
					<hr class="my-4">
			</div>	

	
	<br><br>

	

	
	 

	

	
	 