	<html ng-app="customerApp">
		<head>
		<title>customer</title>
		</head
		>
		<div class="jumbotron center_div" >
			<h1 class="display-4">welcome customer </h1>
			<p class="lead">On this page you can purchased coupons and see your history purchased.</p>
			<p class="lead">we wish you a happy purchased</p>
			<hr class="my-4">
			</div>
		
		<body>
			<div class="jumbotron center_div" >
				  <button class="btn btn-success btn-lg" routerLink="/purchaseCoupon">Purchase Coupon</button>
			</div>	
				<div class="jumbotron center_div" > 
						  <button class="btn btn-success btn-lg" routerLink="/historyPage">History purchase</button>
		
					</div>	
		
		
					
		
				<br><br>
		
			
						
			<br><br>
		

			