<!-- <div>
    <h3> Name: {{coupon.title}}</h3>
    <h3> start_date: {{coupon.start_date}}</h3>
    <h3> amount: {{coupon.amount}}</h3>
    <h3> type coupon: {{coupon.type}}</h3>
    <h3> message: {{coupon.message}}</h3>
    <h3> image: {{coupon.image}}</h3>
    

    <label>start_date: </label><input type = "text" name="date" id="start_date"  placeholder="start_date" [(ngModel)] = "coupon.start_date" ngModel><br>
    
    
   <label>price: </label><input type = "number" name="price" id="price"  placeholder="price" [(ngModel)] = "coupon.price" ngModel><br>
  
    <label>end_date: </label><input type = "text" name="date" id="end_date"  placeholder="end_date" [(ngModel)] = "coupon.end_date" ngModel><br>
    <button (click)="updateCoupon()">update coupon</button>

   <br><br>
   <br><br>
  <a routerLink="/get-coupons">Back To Coupon List  </a> -->
<!-- </div>
<a></a> -->
 
