
    <title>W3.CSS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
   

<div class="jumbotron center_div" >
  <h1 class="display-4">Purchase coupon </h1>
  <p class="lead">On this page you can see all our website coupon's if you want to purchase a coupon please edit his id number and press purchase</p>
  <hr class="my-4">



  <input class="inputs" #couponID type="number" placeholder="Coupon ID" maxlength="20" min="0">
  <br>
  <br>
  <button class="buttons" (click)="purchaseCoupon(couponID.value)">purchase this coupon!</button>
 <br>
 <br>



 <div>
  <button class="buttons" (click)="getAllCoupons()"> show coupon</button>
</div>


<div class="w3-container">
    <div class="w3-card" style="width:50%">
    <ul *ngFor="let c of this.itemService.coupons">
      <br>
      <img src={{c.image}} style="width:100%" alt="coupon">
      <br>
      <div class="w3-container">       
      <h4><b> <span>{{c.title}}</span></b></h4>
      
      <h4><b> Coupon ID: <span>{{c.id}}</span></b></h4>
      <p> 
      Start Date: <span>{{c.startDate}}</span>
      <br>
      End Date: <span>{{c.endDate}}</span>
      <br>
      Amount: <span>{{c.amount}}</span>
      <br>
      Message: <span>{{c.message}}</span>
      <br>
      Price: <span>{{c.price}}</span>
      <br>
      Coupon Type: <span>{{c.type}}</span>
      <br>
      <br>
      <br>
      <br>
      <br>
       </p>
      </div>
      </ul>
    
      <br>
      <br>
 </div>


 
  <a class="backTo" routerLink='/customer'> Back to Customer menu</a>


