
<div class="jumbotron center_div">

    <h1 class="display-4"> Remove Coupon</h1>
    <hr class="my-4">
  
  <h4>In order to delete a coupon from the system, please enter the coupon ID and then press delete </h4>
  <br>
  <br>
  
  
  <div>
  
  
    <div>
      <input class="inputs" #couponID type="number" placeholder="Coupon ID" maxlength="20" min="0">
      <br>
      <br>
      <button class="buttons" (click)="deleteCoupon(couponID.value)">Delete</button>
    </div>
  
    <br>
    
    <a routerLink='/company'> Back to company menu</a>
  </div>