<div class="jumbotron center_div">
  <h1 class="display-4">Welcome Admin</h1>
  <br>
  <br>
  <button class="btn btn-success btn-lg" routerLink="/home" > home</button>

</div>
<br>

<div class="jumbotron center_div">
    <h1 class="display-4">Companies </h1>
    <p class="lead">On this page you can see the data on all the companies listed to Maytal&Maayan website and manage the companies.</p>
    <hr class="my-4">

  
    <div class="grid-container">
      <h1>Company options:</h1>

      <div>
        <button class="btn btn-success btn-lg" routerLink="/getCompany" >View company by id</button>
<br>
<br>

        <button class="btn btn-success btn-lg" routerLink="/updateCompany" > update company</button>
        <br>
        <br>

        <button class="btn btn-success btn-lg" routerLink="/remove-company" > remove company</button>
        <br>
        <br>

        <button class="btn btn-success btn-lg" routerLink="/create-company" > create company</button>
        <br>
        <br>
      </div>
     




    <div>
      <div>
        <button class="btn btn-success btn-lg" (click)="getAllCompanies()">Show all companies</button>
      </div>
    <br>
    <br>
      <div class="view">
        <ul *ngFor="let c of this.itemService.companies">
          <br>
          <br>
          Company ID: <span>{{c.id}}</span>
          <br>
          Company Name: <span>{{c.companyName}}</span>
          <br>
          Company Password: <span>{{c.password}}</span>
          <br>
          Company Email: <span>{{c.email}}</span>
          <br>
        </ul>
      </div>
      <br>
    </div>

  

   

    <h1 class="display-4">Customers</h1>
    <p class="lead">On this page you can see the data on all the Customers listed to Maytal&Maayan website and manage the Customers.</p>
    <hr class="my-4">

    <h1>Customer options:</h1>

    <button class="btn btn-success btn-lg" routerLink="/get-customer" >View customer by id</button>
    <br>
    <br>
    
            <button class="btn btn-success btn-lg" routerLink="/updateCustomer" > update customer</button>
            <br>
            <br>
    
            <button class="btn btn-success btn-lg" routerLink="/remove-customer" > delete customer</button>
            <br>
            <br>
    
            <button class="btn btn-success btn-lg" routerLink="/addCustomer" > create customer </button>
            <br>
            <br>


            <div>
 

              <div>
                <button class="btn btn-success btn-lg" (click)="getAllCustomers()">Show all customers</button>
              </div>
            <br>
            <br>
              <div class="view">
                <ul *ngFor="let c of this.itemService.customers">
                  <br>
                  <br>
                  Customer ID: <span>{{c.id}}</span>
                  <br>
                  Customer Name: <span>{{c.customerName}}</span>
                  <br>
                  Customer Password: <span>{{c.password}}</span>
                  <br>
                </ul>
              </div>
              <br>
            </div>
        


            

    <h1 class="display-4">Income</h1>
    <p class="lead">On this page you can see income inpromation</p>
    <hr class="my-4">

    <h1>Income options:</h1>

    <button class="btn btn-success btn-lg" routerLink="/incomeCompanyId" >View income by company id</button>
    <br>
    <br>

    <button class="btn btn-success btn-lg" routerLink="/incomeCustomerd" >View income by customer id</button>
    <br>
    <br>
   
  </div>


  

</div>   
