<div class="jumbotron center_div">
    <h1 class="display-4">Welcome to Maytal&Maayan website</h1>
    <p> on this page you can register to our website. 
                        please chose type of client: </p>  
</div>
  <br>
  
  <div class="jumbotron center_div">
      <p>For register as a company click here:</p>
      <button class="btn btn-success btn-lg" (click)="moveToCreateCompanyPage()">Create new company</button>
  </div>
  <br>
  <div class="jumbotron center_div">
      <p>For register as a customer click here:</p>
      <button class="btn btn-success btn-lg" (click)="moveToCreateCustomerPage()">Create new customer</button>
      <br><br>
  
  </div>