<div class="jumbotron center_div">
    <h1 class="display-4">Hi admin,</h1>
    <p class="lead">You have chosen to update the customer details of {{myService.chosenCustomer.name}}.</p>
    <p>To change one of the customer's specifications, enter the updated item in the input box.<br>
        If you leave an empty input box, the name will remain the same.</p>
    <p>You can return to the main page by clicking here:</p>
    <button class="btn btn-primary btn-lg" (click)="myService.moveToHomePage()" >move back to display page</button><br>
    <hr class="my-4">

    <div>
        <label for="customerPassword" > Customer password: </label><br>
        <input id="customerPassword" type="text" [(ngModel)]="password"/>{{passwordMessage.message}}<br>
        
        <button class="btn btn-primary" (click)="editCustomer()"> Submit </button>
      </div>
      
      
      

</div>




