/* section{
    height: 100%;
    /* border: 2px solid black;  
    text-align: center;
    box-sizing: border-box;
    font-size:25px;
}

#name {
    
    color: rgb(0, 0, 0);
    font-family:aharoni;
}

#password{
    color: rgb(0, 0, 0);
    font-family:aharoni;
}

#type1{
    color: rgb(0, 0, 0);
    font-family:aharoni;
}

#pp{
    font-family:  Arial, Helvetica, sans-serif ;
    font-weight: bold;
}
/* 
img{
	width: 250px; 
	height: 130px;
} 

img:hover{
	filter: grayscale(50%);
}
div:nth-of-type(2){
    position: absolute;
    border: 0.5px solid black;
    top: 120px;
    right: 20px;
    padding: 10px;
} */

.center_div{
    margin: 0 auto;
    width:80% /* value of your choice which suits your alignment */
}