<section>
  
  <div class="jumbotron center_div" id="loginForm">
      
    <h1 class="display-4">Sign in to M&M Website </h1>
	<hr class="my-4"> 
    
    <form (ngSubmit)="onSubmit()" #f="ngForm" action="login" method="post">
          <br>
        <label for id="name" class="lead">Name: </label>
        <input type="text" id="username" ngModel name="username" required  placeholder="Enter Your Name...">
      <br>
         <label for id="password">Password: </label>
        <input type="password" id="password" ngModel name="password" password required placeholder="Enter Your password...">
      <br>
  
        <label for id="type1">Client Type: </label>
        <select id="clientType" name="clientType" ngModel>
        <option selected disabled>Select Type</option>
        <option value="ADMIN">ADMIN</option>
        <option value="COMPANY">COMPANY</option>
        <option value="CUSTOMER">CUSTOMER</option>
        </select>
      
        <br>

        <br>

        <h3><button type="submit" class="btn btn-primary">LOGIN 	<i class="fa fa-user-circle-o" style="font-size:30px;"></i></button>
        <button type="reset"class="btn btn-danger"	>RESET	<i class="fa fa-eraser" style="font-size:30px;"></i></button></h3>
      
      </form>
      <img src="/assets/image/coupon.png" [width]="imageWidth">
    </div>
  <div>
    <button (click)="decreaseWidth()">-</button>
    <button (click)="resetWidth()">=</button>
    <button (click)="increaseWidth()">+</button>
  </div>
  </section>