
<div class="jumbotron center_div">
    <h1 class="display-4">Hi admin,</h1>
    <p class="lead">You have chosen to update the company details of .</p>
    <p>To change one of the company's specifications, enter the updated item in the input box.<br>
        If you leave an empty input box, the name will remain the same.</p>
    <p>You can return to the main page by clicking here:</p>
    <button class="btn btn-primary btn-lg" (click)="myService.moveToHomePage()" >move back to display page</button><br>
    <hr class="my-4">

  <div>
    <div class="form-group">
      <label for="companyEmail">company Email:</label><br>
      <input id="companyEmail" type="text" [(ngModel)]="email" />{{emailMessage.message}}<br>
    </div>
    <div class="form-group">
      <label for="companyPassword">company password:</label><br>
      <input id="companyPassword" type="text" [(ngModel)]="password"/>{{passwordMessage.message}}<br>
    </div>
    <!-- <button class="btn btn-primary" (click)="editCompany()"> submit </button> -->
  </div>
</div>