<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

  <link href="https://fonts.googleapis.com/css?family=Concert+One|Poppins&display=swap" rel="stylesheet">
  
  <section class="about-section">
     <div class="container">
       <div class="row">
        <div class="col-lg-6">
         <div class="about-image clearfix">
           <div class="single-image float-left">
            <img src="https://i.ibb.co/Z89vbqS/2.jpg" alt="">
           </div> 
          <div class="single-image image-tow float-right">
         <img src="https://i.ibb.co/vvM7myx/Untitled-1.jpg" alt="">
       </div> 
     </div> 
       </div>
         <div class="col-lg-6">
          <div class="about-content">
             <h3> Welcome to:</h3>
             <h2> Maytal&Mayyan Coupon project</h2>
             <br>
             <p>This is our final project in Jhon Bryce Acedemy. on this project we are simulating a coupon system that companys can mange there coupon and customer can but the coupons 
            </p>
       <br> 
       <p>we hope you will enjoy</p>
			 <br><br>
          
         </div> 
        </div>
       </div> 
     </div> 
    </section>