
<html ng-app="companyApp">
<head>
<title>company</title>
</head
>
<div class="jumbotron center_div" >
    <h1 class="display-4">Welcome Company </h1>
    <p class="lead">On this page you can see all your coupons, edit or mange them, and add new coupons.</p>
	<p class="lead">we hope you will enjoy</p>
	<hr class="my-4">
	
	</div>

<body>

		<br><br>

	<div class="jumbotron center_div" >
		<p class="lead">To see company details click here:</p>    
		  <button class="btn btn-success btn-lg"routerLink="/compenydetails">Company Details</button>
		  <hr class="my-4">

	<br><br>
		<p class="lead">To create a new coupon click here:</p>    
  	    <button class="btn btn-success btn-lg"routerLink="/createCoupon">Create new coupon</button>
		<hr class="my-4">

	<br><br>
			<p class="lead">To delete a coupon from the system click here:</p>    
			  <button class="btn btn-success btn-lg" routerLink="/removeCoupon">Remove coupon</button>
			  <hr class="my-4">
	<br><br>
				<p class="lead">To update coupon click here:</p>   
				  <button class="btn btn-success btn-lg" routerLink="/updateCoupon">Update coupon</button>
				<hr class="my-4">

			<br><br>

	
					<p class="lead">To see all company's coupons click here:</p>    
					  <button class="btn btn-success btn-lg"routerLink="/getallCompanyCoupon">Compnies coupon</button>
					<hr class="my-4">
	
				
	<br><br>

	<p class="lead">To see all company's income click here:</p>    
	<button class="btn btn-success btn-lg"routerLink="/incomeCompany">Compnies income</button>
  <hr class="my-4">
</div>


<br><br>

		
	
	<br><br>

	

	
	 

	

	
	 