	<html ng-app="customerApp">
		<head>
		<title>customer</title>
		</head
		>
		<div class="jumbotron center_div" >
			<h1 class="display-4">welcome customer </h1>
			<p class="lead">On this page you can purchased coupons and see your history purchased.</p>
			<p class="lead">we wish you a happy purchased</p>
			<hr class="my-4">
			</div>
		
		<body>
		
				<br><br>
		
			<div class="jumbotron center_div" >
				<p class="lead">To purchase coupons click here:</p>    
				  <button class="btn btn-success btn-lg"  routerLink="/updateCustomer">	Purchase coupon</button>
				<hr class="my-4">
			</div>	
		
			<br><br>
		
			<div  class="jumbotron center_div" >
					<p class="lead">To see all purchased history click here:</p>    
					  <button class="btn btn-success btn-lg" routerLink="/updateCustomer">Purchased history</button>
					  <hr class="my-4">
			</div>	
		
			<br><br>
		
				<div  class="jumbotron center_div" >
						<p class="lead">To see all purchased history by type of coupon click here</p>   
						  <button class="btn btn-success btn-lg" routerLink="/updateCustomer">Purchased history by type</button>
						<hr class="my-4">
					</div>	
		
					<br><br>
		
					<div class="jumbotron center_div" >
							<p class="lead">To see all purchased history by price of coupon click here</p>    
							  <button class="btn btn-success btn-lg" routerLink="/updateCustomer">Purchased history by price</button>
							<hr class="my-4">
						</div>	
			
						
			<br><br>
		